.hero-text{
font-family: Heboo;
font-size: 48px;
font-weight: 900;
line-height: 61px;
letter-spacing: 2px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.btn {
    width: 205px;
height: 50px;
top: 504px;
left: 231px;
gap: 0px;
opacity: 0px;

}